<div class="row">
    <div class="col-md-2">

        <div class="box box-primary">
            <div class="box-body no-padding">
                {{tree|raw}}
            </div>
        </div>
    </div>

    <div class="col-md-10">

        {% verbatim %}
        <div id="twig" ng-controller="TwigController">

            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <td>Value</td>
                                <td ng-repeat="lang in langs">
                                    {{lang}}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="file">
                                <td><button ng-click="onClickTranAll()" class="btn btn-xs btn-success">Translate all</button></td>
                                <td ng-repeat="lang in langs">
                                    <button ng-click="onClickTranSource(lang)" class="btn btn-xs btn-success">Source</button>
                                    <button ng-show="lang=='zh_CN'" ng-click="onClickAllT2S()" class="btn btn-xs btn-success">T2S</button>
                                    <button ng-show="lang=='en_US'" ng-click="onClickAllT2E()" class="btn btn-xs btn-success">T2E</button>
                                    <button ng-show="lang=='zh_HK'" ng-click="onClickAllE2T()" class="btn btn-xs btn-success">E2T</button>
                                </td>
                            </tr>
                            <tr ng-repeat="d in data" ng-Click="onClickData(d)" ng-class="selected_data==d?'active':''">
                                <td style="width:200px">
                                    {{d.msgid}}
                                </td>
                                <td ng-repeat="lang in langs">
                                    <div ng-if="selected_data==d">
                                        <textarea ng-model="d.msgstr[lang]" class="form-control" style="height:150px" ng-attr-lang="{{lang}}" ng-attr-placeholder="{{lang}}"></textarea>
                                        <button ng-click="onClickTran(d,lang)" class="btn btn-xs btn-success">Source</button>
                                        <button ng-show="lang=='zh_CN'" ng-click="onClickT2S(d)" class="btn btn-xs btn-success">T2S</button>
                                        <button ng-show="lang=='en_US' && microsoft_access_token" ng-click="onClickTC2EN(d)" class="btn btn-xs btn-success">T2E</button>
                                        <button ng-show="lang=='zh_HK'" ng-click="onClickE2T(d)" class="btn btn-xs btn-success">E2T</button>
                                    </div>

                                    <div ng-if="selected_data!=d">
                                        {{d.msgstr[lang]}}
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer" ng-show="file">
                    <button ng-click="onClickSave()" class="btn btn-success">Save</button>
                </div>
            </div>


            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title">
                        Unuse
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <td>msgid</td>
                                <td>msgstr</td>
                            </tr>
                        </thead>
                        <tbody ng-repeat="lang in langs">
                            <tr>
                                <td colspan="2">{{lang}}</td>
                            </tr>
                            <tr ng-repeat="d in unuse[lang]">
                                <td>{{d.msgid.join('\n')}}</td>
                                <td>{{d.msgstr.join('\n')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            {% endverbatim %}

        </div>
    </div>
</div>


{% verbatim %}

<script>
    var app = angular.module('twig', []).controller('TwigController', function ($scope, $http) {
        console.log("angular start");

        $scope.langs = [];
        $scope.data = [];
        $scope.file = "";
        $scope.unuse = [];
        $scope.microsoft_access_token = "";

        $http.get("System/front_translate_twig/getLang").then(function (r) {
            $scope.langs = r.data;
        });

        $http.get("System/front_translate_twig/getMicrosoftAccessToken").then(function (r) {
            $scope.microsoft_access_token = r.data;
        });

        $scope.onClickTran = function (d, lang) {
            $http.post("System/front_translate_twig/googleTranslate", {
                from: 'auto',
                to: lang,
                text: d.msgid,
            }).then(function (r) {
                d.msgstr[lang] = r.data.text;
            });
        };

        $scope.onClickE2T = function (d) {
            $http.post("System/front_translate_twig/googleTranslate", {
                from: "en",
                to: "zh-TW",
                text: d.msgstr.en_US,
            }).then(function (r) {
                d.msgstr.zh_HK = r.data.text;
            });


        };

        $scope.onClickTC2EN = function (d) {
            $http.post("System/front_translate_twig/googleTranslate", {
                from: "zh-TW",
                to: "en",
                text: d.msgstr.zh_HK
            }).then(function (r) {
                d.msgstr.en_US = r.data.text;
            });
        };


        $scope.onClickT2S = function (d) {
            $http.post("System/front_translate_twig/t2s", {
                str: d.msgstr.zh_HK
            }).then(function (r) {
                d.msgstr.zh_CN = r.data.text;

            });
        };

        $scope.onClickAllT2S = function () {
            $scope.data.forEach($scope.onClickT2S);
        };

        $scope.onClickAllT2E = function () {
            $scope.data.forEach($scope.onClickTC2EN);
        };

        $scope.onClickAllE2T = function () {
            $scope.data.forEach($scope.onClickE2T);
        };

        $scope.onClickFile = function (file) {
            $scope.file = file;
            var param = $.param({
                file: file
            });
            $http.get("System/front_translate_twig/getTran?" + param).then(function (r) {
                $scope.data = r.data.data;
                $scope.unuse = r.data.unuse;
                //console.log(data);
            });

        };

        $scope.onClickSave = function () {
            $http.post("System/front_translate_twig", {
                file: $scope.file,
                data: $scope.data
            }).then(function (data) {
                $scope.selected_data = null;
            });

        };

        $scope.onClickData = function (d) {
            $scope.selected_data = d;
        }

        $scope.onClickTranSource = function (lang) {
            $scope.data.forEach(function (d) {
                $http.post("System/front_translate_twig/googleTranslate", {
                    from: 'auto',
                    to: lang,
                    text: d.msgid,
                }).then(function (r) {
                    d.msgstr[lang] = r.data.text;
                })

            });
        };

        $scope.onClickTranAll = function () {
            $scope.langs.forEach(function (lang) {
                $scope.data.forEach(function (d) {
                    $http.post("System/front_translate_twig/googleTranslate", {
                        from: 'auto',
                        to: lang,
                        text: d.msgid,
                    }).then(function (r) {
                        d.msgstr[lang] = r.data.text;
                    })

                });
            });
        };


    });

    angular.bootstrap($("#twig"), ['twig']);

    function onClickFile(file) {
        $("#twig").data().$scope.onClickFile(file);
    }

</script>
{% endverbatim %}